/* HTML - ELEGINOS */

.informacion__parrafo{
    font-size: 23px;
    font-weight: 200;
    padding-top: 4%;
    padding-bottom: 2%;
    text-align: center;
    letter-spacing: 3px;
    max-width: 900px;
    margin: 0 auto;

    & p{
        margin: 4%;
    }
}


.eleginos__articulo{
    text-align: center;
    margin-top: 5%;

    & img{
        padding-bottom: 8%;
        width: 100%;
    }
    
}
