/* HTML - POZO */

.articulos__pozo{
    height: 600px;
    display: flex;
    justify-content: space-evenly;

    & p{
        font-size: 18px;
        font-weight: 200;
        text-align: center;
        letter-spacing: 2px;
        max-width: 400px;
        padding: 4% 5%;
    }
}

