  /******** TABLET ********/


@media only screen and (max-width:768px) {


    /* HOME TABLET */

    /* MENÚ TABLET */

    #navbarNavDropdown ul a {
        padding: 1%;
    }

    /* PROYECTOS TABLET */

    .proyectos__home {
        height: 950px;
    }
    
    .proyectoshome__contenedor {
        margin: 0 3% 9% 3%;
        grid-gap: 15px;
    }


    /* SERVICIOS TABLET */
    
    .servicios{
        height: 580px;

        & img{
            width: 80%;
            object-fit: cover;
        }
    
        &__imagen{
            width: 100%;
        }
    }

     /* FOOTER TABLET */

    .logoTexto {
        width: 400px;
    }

    .contacto {
    
        & h5{
            margin-bottom: 11%;
        }

        & p {
            margin-bottom: 2%;
        }
    
    }

     /* HTML PROYECTOS TABLET */

    .proyectos__article{
        height: auto;
    }
    
    .proyectos__informacion{
        width: 250px;
        margin-left: 2%;
        
    }

    .proyectos img{
        width: 500px;
    }


    /* HTML GARDEN, GORINA, GARDEL TABLET */
    
    .proyectos__contenedor{
        height: auto;
        margin-top: 3%;
        }
    
        .proyecto__contenido{
            width: 100%;
            flex-direction: column;
            justify-content: center;

            & img{
                width: 100%;
            }
        
        }
    
        article.proyectos__article.aos-init.aos-animate{
            width: 100%;
        }

        .proyectosinside__informacion{
            max-width: 600px;
            text-align: center;
            margin: 5% 0;

            & h2{
                font-size: 23px;
                margin-bottom: 7%;
            }
        
            & h3{
                margin-bottom: 7%;
            }
        
            & p{
                padding: 4% 0%;
            }
        
        }
        
        .venta{
            width: 100%;
            margin: 15% 0%;
        }
    
        body > main > section.venta > h3{
            font-size: 18px;
            margin-bottom: 5%;
        }
    


    /* HTML QUIÉNES SOMOS TABLET */

        .articulos{
            height: 550px;

            & p {
                font-size: 17px;
                padding: 4% 4%;
            }
        }

        body > section.articulos > article:nth-child(2) > p{
            padding: 4% 6%;
        }


    /* HTML POZO TABLET */

        .informacion__parrafo {
            font-size: 20px;
            padding-top: 0;
        }

    /* HTML LLAVE EN MANO TABLET */

        .titulo h1 {
            font-size: 48px;
        }

    }
/******** MOBILE ********/

@media only screen and (max-width:600px){

    /* HOME MOBILE */

    /* MENÚ MOBILE */
    
        header{
            background:  $main-color;
            position: relative;

            & img{
                width: 14em;
                }
        }

        nav{
            margin-top: 2%;
        }
    
        #menu ul a{
            font-size: 10px;
            text-align: center;
            display: inline-block;
        }
    
        ul{
            display: inline-block;
        }
    
        #menu ul li{
            text-align: center;
        }
    
        #menu > ul > li:nth-child(2) > ul{
            display: none;
        }
        
    
    /* TÍTULO MOBILE */
    
        .titulo h1{
            font-size: 33px;
            margin-bottom: 4%;
        }
    
    /* PÁRRAFO MOBILE */
    
        .parrafo p{
            font-size: 16px;
            padding: 5%;
        }
    
    /* PROYECTOS MOBILE */
    
        .proyectos__home{
            height: auto;
            text-align: center;

            & h2{
                font-size: 29px;
            }
        
        }
    
        .proyectoshome__contenedor{
            height: 950px;
            grid-template-columns: 1fr;
            grid-template-rows: 300px 300px 300px;
            justify-content: space-around;
            margin-right: 5%;
            margin-left: 5%;
        }
        
        .Garden{
            grid-row: 1/2;
            grid-column: 1/1;
        }
    
        .Gorina{
            grid-row: 2/3;
            grid-column: 1/1;
        }
    
        .Gardel{
            grid-row: 3/4;
            grid-column: 1/1;
        }
    
    
        .boton{
            padding: 4% 5%;
            font-size: 14px;
        }
    
        .parrafo h2{
            margin-top: 10%;
        }
    
    /* SERVICIOS MOBILE */
    
        .servicios{
            height: auto;

            & img{
                width: 80%;
                object-fit: cover;
            }

            &__contenedor{
                flex-direction: column;
                grid-gap: 50px;
                
            }
        
            &__imagen{
                width: 100%;
            }
        }
    
    
        .parrafo h2{
            padding: 9% 0%;
            font-size: 20px;
        }
    
    /* FORMULARIO MOBILE */
    
        .formulario h3{
            font-size: 19px;
        }
    
        form{
            width: 90%;
            padding: 3%;
            margin-bottom: 5%;
        }
    
    /* FOOTER MOBILE */
    
        footer{
            height: 500px;
            justify-content: center;
            align-items: center;
        }
    
        .footer__contenedor{
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-bottom: 0px solid $color;
        }
    
        .logo{
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid $color;


            & img {
                margin-left: 0;
            }

        }
    
        .logoTexto{
            width: 95%;
            text-align: center;
            line-height: 17px;
            letter-spacing: 1px;
            color: $color;
            margin-bottom: 7%;
        }
    
        .contacto{
            width: 100%;
            text-align: center;

            & h3{
                letter-spacing: 4px;
            }

            & h5{
                margin-bottom: 0;
            }
        
        }
    
        .redes{
            width: 100%;
            text-align: center;
            margin-right: 0;
    
        }

        .boton__form{
            font-size: 15px;
        }
        
    
    /* IR ARRIBA - MOBILE */
    
        #arriba a {
            height: 2.5rem;
            width: 2.5rem;
            line-height: 2.5rem;
        }
    
    
    /* HTML PROYECTOS MOBILE */
    
        .proyectos {
            height: auto;

            &__article{
                width: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
    
                & img{
                    width: 100%;
                }
            }
        
        
            &__informacion{
                text-align: center;
                margin: 7% 0;
                width: 100%;
            }
        }
    
    
    
    /* HTML GARDEN, GORINA, GARDEL MOBILE */
    
        .proyectos__contenedor{
        height: auto;
        margin-top: 3%;
        }
    
        .proyecto__contenido{
            width: 100%;
            flex-direction: column;
            justify-content: center;

            & img{
                width: 100%;
            }
        
        }
    
        .proyectosinside__informacion{
            text-align: center;
            margin: 5% 0;

            & h2{
                font-size: 23px;
                margin-top: 3%;
            }
        
            & h3{
                margin-bottom: 7%;
            }
        
            & p{
                padding: 4% 3%;
            }
        
        }
    
        .venta{
            width: 100%;
            margin: 15% 0%;
        }
    
        body > main > section.venta > h3{
            font-size: 18px;
            margin-bottom: 5%;
        }
    
        .boton__Info, .boton__Proyectos, .boton {
            font-size: 13px;
            padding: 3% 5%;
            display: block;
            margin: 2% 5%;
        }

        /* HTML QUIÉNES SOMOS MOBILE */
    
        .quienessomos__parrafo{
            font-size: 19px;
            width: 100%;
        }
    
        .articulos{
            height: auto;
            margin: 5% 0;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
        section.articulos > article{
            margin-top: 7%;
        }
    
    /* HTML POZO MOBILE */
    
        .informacion__parrafo {
            font-size: 21px;
        }
    
        .articulos__pozo {
            height: 600px; 
            flex-direction: column;
            justify-content: space-evenly;

            & p {
                margin: 0 auto;
            }
        
        }
    
    
    /* HTML LLAVE EN MANO MOBILE */
    
        section.parrafo {
            margin-bottom: 10%;
        }
    
    
        #menu ul li a{
            font-size: 15px;
        }
    
    }